In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
%matplotlib inline

In [12]:
host_orders = pd.read_csv('supp_data/20160214_animal_order.csv', na_values=['Unknown']).dropna()
host_orders = host_orders[['Order', 'Family', 'Species']]
host_orders.head()

               Order          Family               Species
0   Accipitriformes    Accipitridae             Black Kite
1   Accipitriformes    Accipitridae           Golden Eagle
2   Accipitriformes    Accipitridae             Bald Eagle
3   Accipitriformes    Accipitridae   Japanese Sparrowhawk
4   Accipitriformes    Accipitridae                 Shikra

In [13]:
wild_birds = host_classes[(host_classes['Habitat/setting'] == 'Wild') & (host_classes['Bird, Mammal, Human'] == 'Bird')]
wild_birds

,Country,Species,Habitat/setting,"Bird, Mammal, Human"
0,Canada,American Black Duck,Wild,Bird
1,USA,American Black Duck,Wild,Bird
2,USA,American Green-Winged Teal,Wild,Bird
3,Canada,American Wigeon,Wild,Bird
4,USA,American Wigeon,Wild,Bird
5,India,Aquatic Bird,Wild,Bird
6,South Korea,Aquatic Bird,Wild,Bird
7,Viet Nam,Aquatic Bird,Wild,Bird
13,Viet Nam,Babbler,Wild,Bird
14,China,Baikal Teal,Wild,Bird
15,South Korea,Baikal Teal,Wild,Bird
16,China,Bar-Headed Goose,Wild,Bird
17,Mongolia,Bar-Headed Goose,Wild,Bird
18,Hong Kong,Barn Swallow,Wild,Bird
19,Netherlands,Barnacle Goose,Wild,Bird
20,Netherlands,Bewick's Swan,Wild,Bird
21,China,Bird,Wild,Bird
22,South Korea,Bird,Wild,Bird
23,USA,Bird,Wild,Bird
24,Viet Nam,Bird,Wild,Bird
25,Australia,Black Duck,Wild,Bird
26,USA,Black Duck,Wild,Bird
27,Canada,Black Scoter,Wild,Bird
28,USA,Black Scoter,Wild,Bird
29,China,Black-Billed Magpie,Wild,Bird
30,Georgia,Black-Headed Gull,Wild,Bird
31,Iceland,Black-Headed Gull,Wild,Bird
32,Mongolia,Black-Headed Gull,Wild,Bird
33,Netherlands,Black-Headed Gull,Wild,Bird
34,Sweden,Black-Headed Gull,Wild,Bird
...,...,...,...,...
461,Japan,Tufted Duck,Wild,Bird
462,Portugal,Tufted Duck,Wild,Bird
463,Japan,Tundra Swan,Wild,Bird
464,South Korea,Tundra Swan,Wild,Bird
465,USA,Tundra Swan,Wild,Bird
481,China,Waterfowl,Wild,Bird
482,Hong Kong,Waterfowl,Wild,Bird
483,Japan,Waterfowl,Wild,Bird
484,South Korea,Waterfowl,Wild,Bird
485,USA,Waterfowl,Wild,Bird
490,Egypt,Whiskered Tern,Wild,Bird
491,USA,White-Fronted Goose,Wild,Bird
492,Canada,White-Rumped Sandpiper,Wild,Bird
493,USA,White-Winged Scoter,Wild,Bird
494,Iran,Whooper Swan,Wild,Bird
495,Japan,Whooper Swan,Wild,Bird
496,Mongolia,Whooper Swan,Wild,Bird
497,Russia,Whooper Swan,Wild,Bird
498,Canada,Widgeon,Wild,Bird
499,China,Wild Chicken,Wild,Bird
500,China,Wild Duck,Wild,Bird
501,Canada,Wood Duck,Wild,Bird
502,China,Barn Swallow,Wild,Bird
509,South Korea,Eagle-Owl,Wild,Bird
510,Hong Kong,Pintail,Wild,Bird
511,Sweden,Wigeon,Wild,Bird
512,Japan,Pintail,Wild,Bird
513,Hong Kong,Wigeon,Wild,Bird
514,China,Teal,Wild,Bird
515,Netherlands,Wigeon,Wild,Bird